.navBar {
  padding: 20px 0;
}

.navBar img {
  max-height: 40px;
}

.headerNavBar {
  text-align: center;
  padding: 10px 0;
  color: #ebebebeb;
  /* background-color: red; */

}

.navbarLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarLinks div {
  display: flex;
  align-items: center;
}

.navbarLinks div span {
  /* color: #10271d; */
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  font-weight: 400;
  padding: 0 10px;
  transition: 0.3s ease;
}

.navbarLinks div span:hover {
  padding-top: 10px;
}

.navbarLinks button {
  padding: 10px 25px;
  margin: 0 10px;
  border: none;
  font-weight: 400 !important;
  color: #000;
  cursor: pointer;
  border-radius: 50px;
  font-size: 14px;
  /* color: red !important; */
}

.getStartBtn {
  background-color: transparent;
  /* background-color: #3b715a; */
  /* border: 1px solid #01FFF7; */
  /* background-color: red; */
  color: #fff !important;
  transition: 0.3s ease;
}

.menuIcon {
  display: none !important;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .menuIcon {
    display: block !important;
  }

  .menuItems {
    display: none !important;
  }
}

.sideBar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.menuSidebar {
  height: 100%;
  overflow-y: auto;
  background-color: #d6e2d9;
  padding: 10px 15px;
}

.menuSidebar h3 {
  font-weight: 400;
  padding: 10px 0;
  color: #3b715a;
  font-size: 18px;
  border-bottom: 1px solid #80aa45;
}

.menuSidebar button {
  padding: 15px;
  width: 100%;
  margin: 10px 0;
  border: none;
  font-weight: 400;
  color: #000;
  cursor: pointer;
  border-radius: 50px;
  font-size: 14px;
}

.menuSidebar .menuNavBarLink {
  color: #fff;
  display: block;
  font-weight: 300;
  padding: 25px 0px;
}

.menuSidebar .burgerSideMenu {
  display: flex;
  padding: 15px 0px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}


/*  about us page start */


.contain-header {
  /* text-align: center; */
  padding: 75px 0;
  /* margin-bottom: 40px; */
}

.contain-header h1 {
  font-size: 42px;
  /* font-size: 2.5rem; */
  font-weight: 400;

  margin-bottom: 20px;
}

.contain-header p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 50px 0;
  margin-bottom: 20px;
  font-weight: 200;
}

.latest-data {
  /* background-color: red; */
  text-align: center;
}

.option-latest-data {
  display: flex;
  /* backgrou  d qnd-col /or: red; */
  justify-content: space-around;
  /* margin-top: 40px; */
}

.option-latest-data div {
  text-align: center;
  flex: 1;
}

.option-latest-data h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.option-latest-data h1 {
  font-size: 3rem;
}

hr {
  border: 0;
  height: 1px;
  /* background-color: red; */
  background-color: #ddd;
}


.our-team {
  padding: 75px 0;
  /* background-color: red; */
  /* padding: 50px 0; */
}

.our-team .members {
  display: grid;
  /* margin-top: 20px; */
  /* padding-top: 20px; */
  /* padding-bottom: 25px; */
  grid-template-columns: repeat(4, 1fr);
  /* gap: 15px; */
}

@media (max-width: 1024px) {
  .our-team .members {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .our-team .members {
    grid-template-columns: repeat(1, 1fr);
  
  }
}



.our-team .members img {
  width: 250px;
  height: 250px;
  border-radius: 25px;
}

.our-team .members {
  text-align: center;
}

.our-team .members h3 {
  /* color: red; */
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}

.our-team .members p {
  font-weight: 300;
  margin-top: 0;
  font-size: 18px;
}

@media (max-width: 768px) {

  .contain-header h1 {
    font-size: 2rem;
  }

  .contain-header p {
    font-size: 1rem;
  }

  .option-latest-data {
    flex-direction: column;
    align-items: center;
  }

  .option-latest-data div {
    margin-bottom: 20px;
  }

  .option-latest-data h3 {
    font-size: 1.25rem;
  }

  .option-latest-data h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {


  .contain-header h1 {
    font-size: 1.75rem;
  }

  .contain-header p {
    font-size: 0.875rem;
  }

  .option-latest-data h3 {
    font-size: 1rem;
  }

  .option-latest-data h1 {
    font-size: 2rem;
  }
}

.join-us-text {
  padding: 25px;
  margin-top: 100px;
  /* border: 2px solid deeppink; */
  text-align: center;
  /* min-width: 400px; */
}

.join-us-text h1{
  margin-bottom: 0;
  font-size: 42px;
  margin-bottom: 20px;
  font-weight: 500;
  
  /* font-size: 232px !important; */
}

.join-us-text p{
  margin-top: 0;
  font-weight: 300;
  font-size: 22px;
}

.join-us-text button{
  padding: 15px 30px;
  margin: 0 10px;
  border: none;
  font-weight: 400 !important;
  color: #000;
  cursor: pointer;
  border-radius: 50px;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #000
}
.join-us {
  /* height:  450px; */
  padding: 75px 0;
  background: linear-gradient(to bottom, #fff 50%, #ccfbf1 100%);
  /* border: 1px solid red; */

  /* background-color: red !important; */
}

.Portfolio-section{


  padding: 75px 0;
  background: linear-gradient(to top, #fff 50%, #ccfbf1 100%);

}

/*  about us page end  */


/* Start  services-options  */

.services-options { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-options div:first-child{
  /* background-color: green; */
}

.services-options div:last-child{
  /* background-color: yellow; */
  flex: 2;
  text-align: center;
}


.container-services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}


.container-services img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container-services h2{
  margin-bottom: 0;
  font-weight: 400;
}
.container-services p{
  margin-top: 10px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .container-services {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}



/*  End services-options  */
/*  start OurClients section  */




/*  start our awards */

.Energycontent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Energycontent h1 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 3px;
  color: #10271d;
  line-height: 1.1;
}
.Energycontent  h2{
  color: #10271d;
  font-size: 20px;
  margin-bottom: 3px;
  color: #10271d;
  line-height: 1.2;
  /* font-weight: 500; */
}

.Energycontent p {
  color: #76867e;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
}
.Energycontent div:nth-child(1) img {
  width: 400px;
  /* width: 600px; */
  /* padding: 200px; */
  background-color: red;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.EnergyContentImage {
  position: relative;
}

.EnergyContentImage .text {
  position: absolute;
  right: -100px;
  bottom: 3px;
  width: 150px;
  border-radius: 5px;
  height: 150px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  z-index: 100000;
  color: #fff;
  background-color: #3b715a;
  display: flex;
  justify-content: center;
  align-items: center;

}

@media only screen and (min-width: 768px) {
  .Energycontent {
    flex-direction: row;
    justify-content: space-between;
  }

  .Energycontent > div:last-child {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .Energycontent div:nth-child(1) img {
    width: 100%;
    height: 100%;
  }
  .Energycontent {
    flex-direction: column-reverse;
  }
  .Energycontent > div {
    margin: 10px 0px;
  }
  .EnergyContentImage .text {
    display: none;

  }
}



.desBorder{
  border-bottom: 1px solid #C7CCCA;
}

.Collapse ul {
  list-style-type: disc;
  margin-left: 20px;
  padding: 25px;
}
.Collapse ul li {
  color: #696969;
  /* font-size: 150px !important; */
  margin: 10px 0px;
  color: red;
  /* font-size: 42px !important; */
}






h3.border {
  border-bottom: 1px solid #C7CCCA;
}

h3.no-border { 
  border-bottom: none;
}

p.border {
  border-bottom: 1px solid #C7CCCA;
}

p.no-border {
  border-bottom: none;
}



.centered-section {
  background-color: #F5F5F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.centered-section h1 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 32px;
}

.centered-section p {
  margin-bottom: 20px;
  max-width: 600px;
}

.centered-section button {
  padding: 10px 25px;
  margin: 0 10px;
  border: none;
  font-weight: 400 !important;
  color: #FFF;
  cursor: pointer;
  border-radius: 50px;
  font-size: 14px;
  background-color: #1F5755;
}


/*  end centered section  */

